body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-content{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;

}

.about-me-profession{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.about-me-section {
   
    margin-bottom: 50px;
}
.my-projects-section {
    
}
.my-works-experience-sections {
   
}
.my-education-sections {
  
}

/* sidebar section*/

sidebar-section{
    background-color: #1E2939;
   width:370px;
   padding: 40px 0;
}

.contacts-section,
.tech-scills-section,
.soft-skills-section{
    margin: 50px 0 0 40px;
}
.sidebar-title{
    font-style: normal ;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #1E2939;
    margin-bottom: 10px;
}

/* Contacts section*/
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #1E2939;
    margin-right: 5px;
}
.contacts-section-link{
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}
/* Tech scills section*/
.tech-scills-list{
    padding: 0 0 0 17px;
}

.tech-scills-item{
    color: #FB6D3A;
}
.tech-scills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1E2939;
}

/* Soft scills section*/
.soft-scills-list{
    padding: 0 0 0 17px;
}

.soft-scills-item{
    color: #FB6D3A;
}
.soft-scills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1E2939;
}